<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>App-Estación - Validate</title>

	<link rel="stylesheet" type="text/css" href="./views/static/css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
	<div class="wrapper flex fcol">
		
		<div class="content4 bg1 color-txt1 flex fcol ai jc">
			<div class="form flex fcol ai jcsb bg5" id="login">
				{{ERROR}}
			</div>
		</div>
		 
		<div class="footer bg1 flex ai">
			<p class="font-mono color-txt1 f-9">© 2024 App-Estación by lightbblue. Todos los derechos reservados.</p>
		</div> 
	</div>
	<script>
		if(login.innerText=="Token validado correctamente"){
			setInterval(() => {window.location.href = 'login'},3000)
		}
	</script>
</body>
</html>