:root{
	--bg-color-header: rgb(0, 95, 143);
	--txt-color: rgb(204, 255, 255);
	--txt-color2: rgb(0, 0, 0);
	--txt-color3: rgb(252, 102, 16);
	--txt-color4: rgb(255, 255, 0);
	--txt-color5: rgb(146, 177, 222);
	--txt-color6: rgb(12, 177, 234);
	--txt-color7: rgb(82, 218, 167);
	--txt-color8: rgb(253, 31, 72);
	--txt-color9: rgb(237, 112, 8);
	--txt-color10: rgb(255, 191, 105);
	--bg-color: rgb(0, 15, 31);
	--bg-color2: rgb(255, 255, 255);
	--bg-color3: rgb(0, 31, 61);
	--estacion: rgb(195, 255, 255);
}