:root{
	--bg-color-header: rgb(0, 95, 143);
	--txt-color: rgb(204, 255, 255);
	--txt-color2: rgb(0, 0, 0);
	--txt-color3: rgb(252, 102, 16);
	--txt-color4: rgb(255, 255, 0);
	--bg-color: rgb(0, 15, 31);
	--estacion: rgb(195, 255, 255);
	--txt-color5: rgb(128, 128, 128);
}